body {
  background: #000000;
  height: 100vh;
  width: 100%;
}

.beatmaker {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  border: 1px solid rgb(34, 24, 45);
  border-radius: 12px;
}
